!* Common
#define C_background    #000000
#define C_foreground    #ffffff

#define C_red0          #ed0e0e
#define C_yellow0       #ffff00
#define C_green0        #9acd32
#define C_cyan0         #7fffd4
#define C_blue0         #003eb0
#define C_magenta0      #800080


!* Gruvbox
#define G_background    #3c3836
#define G_foreground    #ebdbb2

#define G_white         #fdf4c1
#define G_red           #cc241d
#define G_yellow        #d79921
#define G_green         #b8bb26
#define G_cyan          #8ec07c
#define G_blue          #83a598
#define G_magenta       #d3869b
#define G_gray          #5c5c5c
#define G_black         #282828


*.background: G_background
*.foreground: G_foreground
*.cursorColor: G_foreground
*.fadeColor: G_black
*.fading: 40

! White
*.color0: G_white

! Red
*.color1: G_red

! Yellow
*.color2: G_yellow

! Green
*.color3: G_green

! Cyan
*.color4: G_cyan

! Blue
*.color5: G_blue

! Magenta
*.color6: G_magenta

! Gray
*.color7: G_gray

! Black
*.color8: G_black
