!* Common
#define C_background    #000000
#define C_foreground    #ffffff

#define C_red0          #ed0e0e
#define C_yellow0       #fabd2f
#define C_green0        #b8bb26
#define C_cyan0         #8ec07c
#define C_blue0         #003eb0
#define C_magenta0      #d3869b


!* Gruvbox
#define G_background    #0b1538
#define G_foreground    #dfdfdf

#define G_white         #fdf4c1
#define G_red           #cc241d
#define G_yellow        #d79921
#define G_green         #98971a
#define G_cyan          #148280
#define G_blue          #195fa6
#define G_magenta       #b16286
#define G_gray          #303030
#define G_black         #171717

*.background: G_background
*.foreground: G_foreground
*.cursorColor: G_white
*.fadeColor: G_gray
*.fading: 40

! White
*.color0: G_white

! Red
*.color1: G_red

! Yellow
*.color2: G_yellow

! Green
*.color3: G_green

! Cyan
*.color4: G_cyan

! Blue
*.color5: G_blue

! Magenta
*.color6: G_magenta

! Gray
*.color7: G_gray

! Black
*.color8: G_black
